.mainedit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.formedit {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 5px 2px black;
  border-radius: 10px;
  width: 750px;
}

.textareaedit {
  margin: 10px 0px;
  height: 150px;
  width: 700px;
  border: none;
  font-size: 22px;
  resize: none;
  outline: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.inputtitleedit {
  margin: 10px 0px;
  height: 50px;
  width: 700px;
  border: none;
  font-size: 30px;
  font-weight: 900;
  outline: none;
  border-bottom: 3px solid gray;
  text-transform: capitalize;
  font-family: Georgia, "Times New Roman", Times, serif;
}
