.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
}

.footertext {
  padding: 10px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}
